

:root .--colour-hover-bg
{
  color : #00c8c8;
}

:root .--colour-hover-fg
{
  color : #ffffff;
}

:root .--colour-active-bg
{
  color : #00de32;
}

:root .--colour-active-fg
{
  color : #ffffff;
}

:root .--colour-border
{
  color : #a6a6a6;
}

html
{
  font-size   : 62.5%;
  margin      : auto auto auto auto;
  min-width   : 830px;
  min-height  : 400px;
  font-family : sans-serif;
  max-width   : 1200px;
}

body
{
  display               : grid;
  min-width             : 480px;
  background-color      : #e6e6e6;
  color                 : #555555;
  font-size             : 1.5rem;
  grid-template-columns : 1fr 30fr;
  grid-template-rows    : 5fr 1fr;
  grid-template-areas   : "sidenav content" "sidenav footer";
  justify-content       : space-evenly;
}

#content
{
  display               : grid;
  padding-left          : 50px;
  padding-right         : 50px;
  min-width             : 500px;
  align-content         : space-between;
  grid-template-columns : 5fr 1fr;
  grid-area             : content;
}


div #mainface
{
  display     : flex;
  align-items : center;
}


div #miniface
{
  height : 32px;
  width  : auto;
  float  : right;
  margin : 5px 5px 5px 5px;
}

#sidenav
{
  z-index       : 1;
  overflow-x    : hidden;
  display       : grid;
  align-content : flex-start;
  min-width     : 160px;
  grid-area     : sidenav;
}

#sidenav a
{
  font-size                  : 1.8rem;
  text-transform             : uppercase;
  display                    : block;
  -webkit-box-shadow         : 5px 5px rgba(0,0,0,0.5);
  -moz-box-shadow            : 5px 5px rgba(0,0,0,0.5);
  -ms-box-shadow             : 5px 5px rgba(0,0,0,0.5);
  -o-box-shadow              : 5px 5px rgba(0,0,0,0.5);
  box-shadow                 : 5px 5px rgba(0,0,0,0.5);
  padding-bottom             : 2rem;
  text-decoration            : none;
  max-width                  : 90%;
  margin-top                 : 5px;
  color                      : #000000;
  border                     : 3px solid #000000;
  transition-duration        : 1500.0ms;
  transition-timing-function : ease;
}

#sidenav a:hover
{
  background-color           : #00c8c8;
  color                      : #ffffff;
  font-weight                : 1000;
  transition-duration        : 150.0ms;
  transition-timing-function : ease;
}

#sidenav a:active
{
  background-color           : #00de32;
  color                      : #ffffff;
  font-weight                : 1000;
  transition-duration        : 150.0ms;
  transition-timing-function : ease;
  -webkit-transform          : translate(4px,4px);
  -moz-transform             : translate(4px,4px);
  -ms-transform              : translate(4px,4px);
  -o-transform               : translate(4px,4px);
  transform                  : translate(4px,4px);
  -webkit-box-shadow         : none;
  -moz-box-shadow            : none;
  -ms-box-shadow             : none;
  -o-box-shadow              : none;
  box-shadow                 : none;
}

.code
{
  align-items : center;
}

#hakyll
{
  display         : flex;
  justify-content : center;
  align-content   : center;
}

#links
{
  display         : flex;
  justify-content : space-evenly;
  align-content   : center;
}

#links > a
{
  display                    : flex;
  justify-content            : center;
  align-items                : center;
  align-content              : center;
  padding                    : 3px 3px 3px 3px;
  transition-duration        : 1500.0ms;
  transition-timing-function : ease;
}


#links a > img
{
  display               : flex;
  max-width             : 30px;
  max-height            : 30px;
  -webkit-transform-box : fillBox;
  -moz-transform-box    : fillBox;
  -ms-transform-box     : fillBox;
  -o-transform-box      : fillBox;
  transform-box         : fillBox;
}

#links > a:hover
{
  -webkit-box-shadow         : 4px 4px rgba(0,0,0,0.5);
  -moz-box-shadow            : 4px 4px rgba(0,0,0,0.5);
  -ms-box-shadow             : 4px 4px rgba(0,0,0,0.5);
  -o-box-shadow              : 4px 4px rgba(0,0,0,0.5);
  box-shadow                 : 4px 4px rgba(0,0,0,0.5);
  -webkit-transform          : translate(-2px,-2px);
  -moz-transform             : translate(-2px,-2px);
  -ms-transform              : translate(-2px,-2px);
  -o-transform               : translate(-2px,-2px);
  transform                  : translate(-2px,-2px);
  border                     : 2px solid #5555ff;
  transition-duration        : 150.0ms;
  transition-timing-function : ease;
}

#links > a:active
{
  background-color           : #00de32;
  color                      : #ffffff;
  font-weight                : 1000;
  transition-duration        : 150.0ms;
  transition-timing-function : ease;
  -webkit-transform          : translate(4px,4px);
  -moz-transform             : translate(4px,4px);
  -ms-transform              : translate(4px,4px);
  -o-transform               : translate(4px,4px);
  transform                  : translate(4px,4px);
  -webkit-box-shadow         : none;
  -moz-box-shadow            : none;
  -ms-box-shadow             : none;
  -o-box-shadow              : none;
  box-shadow                 : none;
}

footer
{
  display            : grid;
  grid-template-rows : 40px auto;
  grid-area          : footer;
  min-width          : 60%;
  padding-top        : 2rem;
  border-top         : 0.5rem solid #a6a6a6;
  border-radius      : 0.1rem 0.1rem 0.1rem 0.1rem;
  grid-area          : footer;
}

.containerG
{
  display               : grid;
  grid-template-columns : auto auto;
  grid-template-rows    : auto auto;
}

.containerG div
{
  background-color : #f1f1f1;
  border           : 1px solid #000000;
}


/* Generated with Clay, http://fvisser.nl/clay */