

:root .--colour-hover-bg
{
  color : #00c8c8;
}

:root .--colour-hover-fg
{
  color : #ffffff;
}

:root .--colour-active-bg
{
  color : #00de32;
}

:root .--colour-active-fg
{
  color : #ffffff;
}

:root .--colour-border
{
  color : #a6a6a6;
}

html
{
  font-size   : 62.5%;
  font-family : sans-serif;
}

body
{
  display          : grid;
  height           : 97svh;
  width            : 97svw;
  min-width        : 480px;
  background-color : #e6e6e6;
  color            : #555555;
  font-size        : 1.5rem;
  justify-content  : flex-start;
}

#content
{
  display        : flex;
  flex-direction : column;
  margin         : 0px auto 0px auto;
  max-width      : 80ch;
  align-content  : space-between;
}

#text
{
  flex-grow : 99;
}

#mainface
{
  float  : right;
  height : 200px;
}

@media only screen and (max-width: 1060px)
{
#mainface
{
  display : none;
}

}
#miniface
{
  height : 32px;
  width  : auto;
  float  : right;
  margin : 5px 5px 5px 5px;
}

#sidenav
{
  z-index       : 1;
  overflow-x    : hidden;
  overflow-y    : auto;
  display       : grid;
  align-content : flex-start;
  min-width     : 16rem;
  grid-area     : sidenav;
}

#sidenav a
{
  font-size                  : 1.8rem;
  text-transform             : uppercase;
  display                    : block;
  -webkit-box-shadow         : 5px 5px rgba(0,0,0,0.5);
  -moz-box-shadow            : 5px 5px rgba(0,0,0,0.5);
  -ms-box-shadow             : 5px 5px rgba(0,0,0,0.5);
  -o-box-shadow              : 5px 5px rgba(0,0,0,0.5);
  box-shadow                 : 5px 5px rgba(0,0,0,0.5);
  padding-bottom             : 2rem;
  text-decoration            : none;
  max-width                  : 90%;
  margin-top                 : 5px;
  color                      : #000000;
  border                     : 3px solid #000000;
  transition-duration        : 750.0ms;
  transition-timing-function : ease;
}

#sidenav a:hover
{
  background-color           : #00c8c8;
  color                      : #ffffff;
  font-weight                : 1000;
  transition-duration        : 150.0ms;
  transition-timing-function : ease;
}

#sidenav a:active
{
  background-color           : #00de32;
  color                      : #ffffff;
  font-weight                : 1000;
  transition-duration        : 150.0ms;
  transition-timing-function : ease;
  -webkit-transform          : translate(4px,4px);
  -moz-transform             : translate(4px,4px);
  -ms-transform              : translate(4px,4px);
  -o-transform               : translate(4px,4px);
  transform                  : translate(4px,4px);
  -webkit-box-shadow         : none;
  -moz-box-shadow            : none;
  -ms-box-shadow             : none;
  -o-box-shadow              : none;
  box-shadow                 : none;
}

.code
{
  align-items : center;
}

#hakyll
{
  display         : flex;
  justify-content : center;
  align-content   : center;
}

#links
{
  display         : flex;
  justify-content : space-evenly;
  align-content   : center;
}

#links > a
{
  display                    : flex;
  justify-content            : center;
  align-items                : center;
  align-content              : center;
  padding                    : 3px 3px 3px 3px;
  transition-duration        : 1500.0ms;
  transition-timing-function : ease;
}


#links a > img
{
  display               : flex;
  max-width             : 32px;
  -webkit-transform-box : fillBox;
  -moz-transform-box    : fillBox;
  -ms-transform-box     : fillBox;
  -o-transform-box      : fillBox;
  transform-box         : fillBox;
}

#links > a:hover
{
  -webkit-box-shadow         : 4px 4px rgba(0,0,0,0.5);
  -moz-box-shadow            : 4px 4px rgba(0,0,0,0.5);
  -ms-box-shadow             : 4px 4px rgba(0,0,0,0.5);
  -o-box-shadow              : 4px 4px rgba(0,0,0,0.5);
  box-shadow                 : 4px 4px rgba(0,0,0,0.5);
  -webkit-transform          : translate(-2px,-2px);
  -moz-transform             : translate(-2px,-2px);
  -ms-transform              : translate(-2px,-2px);
  -o-transform               : translate(-2px,-2px);
  transform                  : translate(-2px,-2px);
  border                     : 2px solid #5555ff;
  transition-duration        : 150.0ms;
  transition-timing-function : ease;
}

#links > a:active
{
  background-color           : #00de32;
  color                      : #ffffff;
  font-weight                : 1000;
  transition-duration        : 150.0ms;
  transition-timing-function : ease;
  -webkit-transform          : translate(4px,4px);
  -moz-transform             : translate(4px,4px);
  -ms-transform              : translate(4px,4px);
  -o-transform               : translate(4px,4px);
  transform                  : translate(4px,4px);
  -webkit-box-shadow         : none;
  -moz-box-shadow            : none;
  -ms-box-shadow             : none;
  -o-box-shadow              : none;
  box-shadow                 : none;
}

#last-update
{
  display         : flex;
  justify-content : center;
  align-content   : center;
}

footer
{
  display            : grid;
  grid-template-rows : 4rem auto auto;
  grid-area          : footer;
  width              : 80ch;
  margin-top         : 2rem;
  border-top         : 0.5rem solid #a6a6a6;
  border-radius      : 0.1rem 0.1rem 0.1rem 0.1rem;
  margin             : 0px auto 0px auto;
}

@media only screen and (max-width: 640px)
{
footer
{
  width : 480px;
}

}
.containerF
{
  display               : grid;
  grid-template-columns : 1fr 99fr;
  grid-template-areas   : "sidenav content";
}


/* Generated with Clay, http://fvisser.nl/clay */