<a href="mailto: tobi@tobioloke.com">
            <img alt="Email" src="/images/email.png">
        </a>

        <a href="https://www.linkedin.com/in/tobi-oloke-574939165/">
            <img alt="LinkedIn" src="/images/linkedin.ico">
        </a>

        <a href="https://github.com/tobz619">
            <img alt="GitHub" src="/images/github.png">
        </a>

        <a href="https://lobste.rs/~tobz619">
            <img alt="Twitter" src="/images/lobsters.ico">
        </a>

        <a href="https://bsky.app/profile/tobioloke.com">
            <img alt="Bluesky" src="/images/bluesky.png">
        </a>

        <a href="https://www.youtube.com/channel/UCjA_GLW3WznqqkdrVOnA3FA">
            <img alt="Youtube" src="/images/youtube.png">
        </a>

        <a href="https://www.instagram.com/tobioloke_/">
            <img alt="Instagram" src="/images/instagram.png">
        </a>

        <a href="https://www.twitch.tv/tobz619">
            <img alt="twitch" src="/images/twitch.png">
        </a>